.feed {
    display:grid ;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
    justify-items: center;
}

@media (max-width:40rem) {
    .feed{
        grid-template-columns: repeat(2, 1fr);

    }
}
.photo{
    display: grid;
    border-radius: 0.2rem;
    overflow: hidden;
    cursor: pointer;
}

.photo {
    display: grid;
    border-radius: 0,2rem;
    overflow: hidden;
    cursor: pointer;
}

.photo > div {

}

.visualização:before {
    width: 16px;
    height:  10px;
    content: '';
    display: inline-block;
    margin-right: 0.25 rem;
    background: url('/assets/visualizacao.svf') no-repeat;
}